.App {
  text-align: center;
}

.App-header {
  background-color: #3b4a69;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
    padding-bottom: 1rem;
}
