.header {
    padding-left: 1em;
    padding-right: 1em;
}
.modal-content {
    width: fit-content;
    height: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    padding: 1em;
    border: 1px solid black;
    border-radius: 7px;
    opacity: 1;
    text-align: left;
}
.buttons-div {
    text-align: center;
}
